@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #aa3e39;
  --navColor3: #aa6e39;
  --navColor4: #236267;
  --navColor5: #2c8437;
}

body {
  background: #000;
  font-family: Nunito, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1581453904507-626ddb717f14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
  background-size: cover;
  background-position: center center;
}

/* Menu bar styles */
.menu-bar {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--primaryColor);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

/* ===================================== */
/* Navbar Overlay styles */
.navbar-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  transform: translateX(-100vw);
}

.navbar-overlay.slideIn {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}
.navbar-overlay.slideOut {
  transform: translateX(-100vw);
  transition: transform 0.8s ease-in-out;
}

/* Navbar Styles */
.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Navbar items */
.navbar-items {
  flex: 1;
  color: var(--primaryColor);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-items:nth-of-type(1) {
  background: var(--navColor1);
}

.navbar-items:nth-of-type(2) {
  background: var(--navColor2);
}

.navbar-items:nth-of-type(3) {
  background: var(--navColor3);
}

.navbar-items:nth-of-type(4) {
  background: var(--navColor4);
}

.navbar-items:nth-of-type(5) {
  background: var(--navColor5);
}

/* Navbar links */
.navbar-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--primaryColor);
  letter-spacing: 3px;
}

.navbar-link:hover {
  filter: brightness(110%);
  transform: scale(1.05);
}

/* SlideIn Animation Definition */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* SlideOut Animation Definition */
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
