@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
  --background: #16161a;
  --primary: #2cb67d;
}

body {
  font-family: 'Comfortaa', cursive;
  background: var(--background);
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 4rem;
  color: var(--primary);
}

.video-container {
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: center;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
}
